accelerate==1.5.1
actionlib==1.14.0
addict==2.4.0
agentlego==0.2.0
agno==1.1.13
aiofiles==23.2.1
aiohappyeyeballs==2.6.1
aiohttp==3.11.13
aiosignal==1.3.2
aiosqlite==0.21.0
aliyun-python-sdk-core==2.15.1
aliyun-python-sdk-kms==2.16.3
angles==1.9.13
annotated-types==0.7.0
anthropic==0.49.0
anyio==4.4.0
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
arxiv==2.1.3
astropy==6.1.7
astropy-iers-data==0.2025.3.17.0.34.53
asttokens==3.0.0
async-lru==2.0.4
async-timeout==4.0.3
attrs==25.1.0
babel==2.17.0
beautifulsoup4==4.13.3
bleach==6.2.0
blinker==1.9.0
bondpy==1.8.6
camera-calibration==1.17.0
camera-calibration-parsers==1.12.0
catkin==0.8.10
certifi==2024.6.2
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.8
colorama==0.4.6
comm==0.2.2
ConfigArgParse==1.7
contourpy==1.2.1
controller-manager==0.20.0
controller-manager-msgs==0.20.0
crcmod==1.7
cryptography==42.0.8
cv-bridge==1.16.2
cycler==0.12.1
dash==3.0.0
dashscope==1.22.2
dataclasses-json==0.6.7
deap==1.4.2
debugpy==1.8.13
decorator==5.2.1
defusedxml==0.7.1
diagnostic-analysis==1.11.0
diagnostic-common-diagnostics==1.11.0
diagnostic-updater==1.11.0
dill==0.3.9
distro==1.9.0
dnspython==2.6.1
docstring_parser==0.16
duckduckgo_search==7.5.2
dynamic-reconfigure==1.7.3
easyocr==1.7.1
einops==0.8.0
email_validator==2.2.0
eval_type_backport==0.2.2
exceptiongroup==1.2.1
executing==2.2.0
faiss-gpu==1.7.2
fastapi==0.111.0
fastapi-cli==0.0.4
fastjsonschema==2.21.1
feedparser==6.0.11
ffmpy==0.4.0
filelock==3.14.0
Flask==3.0.3
fonttools==4.53.0
fqdn==1.5.1
frozendict==2.4.6
frozenlist==1.5.0
fsspec==2024.6.0
func_timeout==4.3.5
gazebo_plugins==2.9.2
gazebo_ros==2.9.2
gencpp==0.7.0
geneus==3.0.0
genlisp==0.4.18
genmsg==0.6.0
gennodejs==2.0.2
genpy==0.6.15
gitdb==4.0.12
GitPython==3.1.44
gps_common==0.3.4
gradio==5.1.0
gradio_client==1.4.0
graphviz==0.20.3
greenlet==3.1.1
h11==0.14.0
httpcore==1.0.5
httptools==0.6.1
httpx==0.27.0
httpx-sse==0.4.0
huggingface-hub==0.29.3
idna==3.7
image-geometry==1.16.2
imageio==2.34.1
importlib_metadata==7.2.1
importlib_resources==6.4.0
interactive-markers==1.12.0
ipykernel==6.29.5
ipynb==0.5.1
ipython==8.34.0
ipywidgets==8.1.5
isoduration==20.11.0
itsdangerous==2.2.0
jedi==0.19.2
jieba==0.42.1
Jinja2==3.1.4
jiter==0.9.0
jmespath==0.10.0
joblib==1.4.2
joint-state-publisher==1.15.1
joint-state-publisher-gui==1.15.1
jplephem==2.22
json5==0.10.0
jsonlines==4.0.0
jsonpatch==1.33
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter==1.1.1
jupyter-console==6.6.3
jupyter-events==0.12.0
jupyter-lsp==2.2.5
jupyter_client==8.6.3
jupyter_core==5.7.2
jupyter_server==2.15.0
jupyter_server_terminals==0.5.3
jupyterlab==4.3.5
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
jupyterlab_widgets==3.0.13
kiwisolver==1.4.5
langchain==0.3.20
langchain-anthropic==0.3.9
langchain-community==0.3.19
langchain-core==0.3.44
langchain-experimental==0.3.4
langchain-openai==0.3.8
langchain-text-splitters==0.3.6
langgraph==0.3.8
langgraph-checkpoint==2.0.19
langgraph-checkpoint-sqlite==2.0.6
langgraph-prebuilt==0.1.2
langgraph-sdk==0.1.56
langgraph-supervisor==0.0.9
langgraph-swarm==0.0.5
langsmith==0.3.13
laser_geometry==1.6.7
lazy_loader==0.4
lxml==5.3.1
Markdown==3.6
markdown-it-py==3.0.0
MarkupSafe==2.1.5
marshmallow==3.26.1
mat4py==0.6.0
matplotlib==3.9.0
matplotlib-inline==0.1.7
mdurl==0.1.2
message-filters==1.16.0
mistune==3.1.2
mmcv==2.2.0
mmengine==0.10.4
mmpretrain==1.2.0
model-index==0.1.11
modelindex==0.0.2
modelscope_studio==1.0.0b8
mpmath==1.3.0
msgpack==1.1.0
multidict==6.1.0
multiprocess==0.70.17
multitasking==0.0.11
mypy-extensions==1.0.0
narwhals==1.31.0
nbclient==0.10.2
nbconvert==7.16.6
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.3
ninja==1.11.1.1
notebook==7.3.2
notebook_shim==0.2.4
numpy==1.26.2
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu12==8.9.2.26
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu12==12.1.0.106
nvidia-nccl-cu12==2.20.5
nvidia-nvjitlink-cu12==12.5.40
nvidia-nvtx-cu12==12.1.105
ollama==0.4.7
open3d==0.19.0
openai==1.66.3
openapi-pydantic==0.4.1
opencv-python==4.10.0.84
opencv-python-headless==4.10.0.84
opendatalab==0.0.10
openmim==0.3.9
openxlab==0.1.0
ordered-set==4.1.0
orjson==3.10.5
oss2==2.17.0
overrides==7.7.0
packaging==24.1
pandas==2.2.2
pandocfilters==1.5.1
parso==0.8.4
pdfminer.six==20231228
pdfplumber==0.11.5
Pebble==5.1.0
peewee==3.17.9
pexpect==4.9.0
pgvector==0.4.0
pillow==10.3.0
platformdirs==4.2.2
plotly==6.0.1
primp==0.14.0
prometheus_client==0.21.1
prompt_toolkit==3.0.47
propcache==0.3.0
psutil==7.0.0
psycopg==3.2.6
ptyprocess==0.7.0
pure_eval==0.2.3
pyclipper==1.3.0.post5
pycparser==2.22
pycryptodome==3.20.0
pydantic==2.9.2
pydantic-settings==2.8.1
pydantic_core==2.23.4
pydub==0.25.1
pyerfa==2.0.1.5
Pygments==2.18.0
pyparsing==3.1.2
pypdf==5.4.0
pypdfium2==4.30.1
pyquaternion==0.9.9
python-bidi==0.4.2
python-dateutil==2.9.0.post0
python-docx==1.1.2
python-dotenv==1.0.1
python-json-logger==3.3.0
python-multipart==0.0.9
python-pptx==1.0.2
python-qt-binding==0.4.4
pytz==2023.4
PyYAML==6.0.1
pyzmq==26.2.1
qt-dotgraph==0.4.2
qt-gui==0.4.2
qt-gui-cpp==0.4.2
qt-gui-py-common==0.4.2
-e git+https://github.com/QwenLM/Qwen-Agent.git@afcc4d5d7257103640bd796aa47fbab47a01960a#egg=qwen_agent
rank-bm25==0.2.2
rapidfuzz==3.9.3
referencing==0.36.2
regex==2024.5.15
requests==2.32.3
requests-toolbelt==1.0.0
resource_retriever==1.12.7
retrying==1.3.4
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.4.2
rosbag==1.16.0
rosboost-cfg==1.15.8
rosclean==1.15.8
roscreate==1.15.8
rosgraph==1.16.0
roslaunch==1.16.0
roslib==1.15.8
roslint==0.12.0
roslz4==1.16.0
rosmake==1.15.8
rosmaster==1.16.0
rosmsg==1.16.0
rosnode==1.16.0
rosparam==1.16.0
rospy==1.16.0
rosservice==1.16.0
rostest==1.16.0
rostopic==1.16.0
rosunit==1.15.8
roswtf==1.16.0
rpds-py==0.23.1
rqt-console==0.4.12
rqt-image-view==0.4.17
rqt-logger-level==0.4.12
rqt-moveit==0.5.11
rqt-reconfigure==0.5.5
rqt-robot-dashboard==0.5.8
rqt-robot-monitor==0.5.15
rqt-runtime-monitor==0.5.10
rqt-rviz==0.7.0
rqt-tf-tree==0.6.4
rqt_action==0.4.9
rqt_bag==0.5.1
rqt_bag_plugins==0.5.1
rqt_dep==0.4.12
rqt_graph==0.4.14
rqt_gui==0.5.3
rqt_gui_py==0.5.3
rqt_launch==0.4.9
rqt_msg==0.4.10
rqt_nav_view==0.5.7
rqt_plot==0.4.13
rqt_pose_view==0.5.11
rqt_publisher==0.4.10
rqt_py_common==0.5.3
rqt_py_console==0.4.10
rqt_robot_steering==0.5.12
rqt_service_caller==0.4.10
rqt_shell==0.4.11
rqt_srv==0.4.9
rqt_top==0.4.10
rqt_topic==0.4.13
rqt_web==0.4.10
ruff==0.5.5
rviz==1.14.23
safetensors==0.4.3
scikit-image==0.24.0
scikit-learn==1.5.0
scipy==1.13.1
seaborn==0.13.2
semantic-version==2.10.0
Send2Trash==1.8.3
sensor-msgs==1.13.1
sentence-transformers==3.0.1
sgmllib3k==1.0.0
sgp4==2.24
shapely==2.0.4
shellingham==1.5.4
six==1.16.0
skyfield==1.52
smach==2.5.2
smach-ros==2.5.2
smclib==1.8.6
smmap==5.0.2
sniffio==1.3.1
snowballstemmer==2.2.0
soupsieve==2.6
SQLAlchemy==2.0.39
stack-data==0.6.3
starlette==0.37.2
stringcase==1.2.0
sympy==1.12.1
tabulate==0.9.0
tavily-python==0.5.1
tenacity==9.0.0
termcolor==2.4.0
terminado==0.18.1
tf==1.13.2
tf-conversions==1.13.2
tf2-geometry-msgs==0.7.7
tf2-kdl==0.7.7
tf2-py==0.7.7
tf2-ros==0.7.7
thefuzz==0.22.1
threadpoolctl==3.5.0
tifffile==2024.6.18
tiktoken==0.9.0
timeout-decorator==0.5.0
tinycss2==1.4.0
tokenizers==0.19.1
tomli==2.0.1
tomlkit==0.12.0
topic-tools==1.16.0
torch==2.3.1
torchaudio==2.3.1
torchvision==0.18.1
tornado==6.4.2
tqdm==4.65.2
traitlets==5.14.3
transformers==4.41.2
triton==2.3.1
typer==0.12.3
types-python-dateutil==2.9.0.20241206
typing-inspect==0.9.0
typing_extensions==4.12.2
tzdata==2024.1
ujson==5.10.0
uri-template==1.3.0
urllib3==2.2.2
uvicorn==0.30.1
uvloop==0.19.0
watchfiles==0.22.0
wcwidth==0.2.13
webcolors==24.11.1
webencodings==0.5.1
websocket-client==1.8.0
websockets==12.0
Werkzeug==3.0.6
widgetsnbextension==4.0.13
xacro==1.14.18
XlsxWriter==3.2.2
yapf==0.40.2
yarl==1.18.3
yfinance==0.2.54
zipp==3.19.2
zstandard==0.23.0
